body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #a1c4fd, #c2e9fb);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.hidden-text {
  background-color: #e0e7ff; /* Light blue for priest */
}

.hidden-text, .response {
  font-size: 18px;
  margin: 5px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
  transition: transform 0.2s;
}

.hidden-text:hover {
  transform: scale(1.05);
}
.response {
  display: none;
  background-color: #f0f9ff; /* Slightly lighter blue for server */
  border: 1px solid #d4dbe8;
}
@media (max-width: 600px) {
  .hidden-text, .response {
      font-size: 16px;
      padding: 10px;
  }
}

.role {
  font-weight: bold;
  font-size: 20px;
  background-color: #d1d8e9; /* Neutral color for role labels */
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
